@import url('base.css');

body{
	background: #f4f4f4;
	list-style: none;
}
/*头部开始*/
.title {
	width: 7.5rem;
	height: 1rem;
	padding-left: 0.35rem;
	line-height: 1rem;
	font-size: 0.34rem;
	color: #000;
	font-weight: bold;
	background: #fff;
	box-sizing: border-box;
	position: fixed;
	top: 0;
	left: 0;
}
.title i {
	font-size: 0.36rem;
	line-height: 1rem;
	color: #000;
	margin-right: 0.3rem;
}
header{
	width: 100%;
	height: 9.57rem;
	background: url('../img/screen.png') no-repeat center bottom,-webkit-linear-gradient(top,#657BF5,#65A8F7);
	background-size: contain;
	overflow: hidden;
	margin-top: 1rem;
}
.city{
	font-size: 0.28rem;
	line-height: 0.28rem;
	margin-top: 0.4rem;
	color: #fff;
	font-weight: bold;
    text-align: center;
}
.kongqi{
	width: 1.47rem;
	height: 0.88rem;
	background: #f1ab62;
	border-radius: 0.15rem;
	margin-top: 0.5rem;
	margin-left: 0.18rem;
	overflow: hidden;
}
.kongqi h1{
	font-size: 0.2rem;
	color: #fceedf;
	text-align: center;
	margin-top: 0.14rem;
}
.kongqi h2{
	font-size: 0.26rem;
	color: #fff;
	text-align: center;
	margin-top: 0.1rem;
}
header h3{
	font-size: 0.9rem;
	color: #fff;
	/*width: 0.9rem;*/
	/*line-height: 0.62rem;*/
	margin-top: 0.35rem;
	/*margin-left: 2.22rem;*/
	text-align: center;
}
header h4{
	font-size: 0.3rem;
	color: #fff;
	margin-bottom: 0.24rem;
	margin-top: 0.3rem;
	text-align: center;
	
}
.shidu{
	width: 1.3rem;
	height: 0.24rem;
	margin: 0 auto;
}
.shidu h5{
	font-size: 0.24rem;
	color: #fff;
	
	float: left;
}
.shidu div{
	font-size: 0.22rem;
	color: #fff;
	line-height: 0.24rem;
	float: left;
	margin-left: 0.1rem;
}
.juzi{
	text-align: center;
	font-size: 0.28rem;
	color: #fff;

	margin-top: 0.9rem;

}
/*头部结束*/

/*今明开始*/
.riqi{
    width: 100%;
    height: 2rem;
	background: #fff;
    overflow: hidden;

    margin-bottom: 0.2rem;
    border-bottom: 0.01rem solid #e4e4e4;
}
.riqi_box{
	width: 6.7rem;
	height: 1rem;
    padding: 0.5rem 0.4rem;
	overflow: hidden;
	display: flex;
}
.riqi_box .tady{
	width: 3.35rem;
	height: 1rem;
	border-right: 0.02rem solid #f0f0f0;
	padding-right: 0.4rem;
	box-sizing: border-box;
}
.tady_top{
	width: 100%;
	margin-bottom: 0.04rem;
	justify-content: space-between;
	display: flex;
}
.tady_top .text{
	font-size: 0.26rem;
	color: #434343;
}
.tady_top .xinxi{
	font-size: 0.24rem;
	color: #434343;
}
.tady_bottom{
	width: 100%;

	color: #434343;
	margin-top: 0.25rem;
	justify-content: space-between;
	display: flex;
}
.tady_bottom .text{
	font-size: 0.26rem;
	line-height: 0.4rem;
	color: #434343;
}
.tady_bottom .img{
	width: 0.4rem;
	height: 0.4rem;
	/*margin-top: 0.05rem;*/
	background: url('../img/0.png') no-repeat center;
	background-size: cover;
}
.riqi_box .tomorrow{
	width: 3.35rem;
	height: 1rem;
	float: right;
	padding-left: 0.4rem;
	box-sizing: border-box;
}
.tomorrow .img{
	background: url('../img/1.png') no-repeat center;
	background-size: cover;
}
/*今明结束*/

/*准点开始*/
.zhundian{
	width: 100%;
	background: #fff;
	border-bottom: 0.02rem solid #e4e4e4;
	border-top: 0.02rem solid #e4e4e4;
    overflow-x: auto;
    
    padding: 0.6rem 0;
    box-sizing: border-box;
}
.zhundian::-webkit-scrollbar{
	height: 0;
}
.zhundian_box{
	/* width: 10rem; */
	display: flex;
	/* background: #fff; */


}
.zhundian_box .now{
	width: 1.1rem;
	height: 1.45rem;
	/* 禁止缩小 */
    flex-shrink: 0;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: space-between;
}
.now .now_time{
	width: 100%;
	font-size: 0.18rem;
	color: #999;
	text-align: center;
}
.now .now_icon{
	width: 0.4rem;
	height: 0.4rem;
	background: url('../img/0.png') no-repeat center;
	margin: 0 auto;
	background-size: cover;
}
.now .now_wendu{
	font-size: 0.2rem;
	color: #999;
	text-align: center;
}
/*准点结束*/

/*近期情况开始*/
.jinqi{
	/*width: 7.5rem;*/
	width: 100%;
	height: 7.76rem;
	background: #fff;
	border-top: 0.01rem solid #e4e4e4;
	border-bottom: 0.01rem solid #e4e4e4;
	margin-top: 0.2rem;
	overflow-x: auto;
	/*overflow: hidden;*/
    padding: 0.5rem 0;
    box-sizing: border-box;
}
.jinqi::-webkit-scrollbar{
	height: 0;
}
.jinqi_box{
	/* width: 10rem; */
	height: 6.75rem;
	display: flex;
}
.con{
	width: 1.25rem;
	height: 6.75rem;
	flex-shrink: 0;
	display: flex;
	flex-wrap: wrap;
	flex-direction: column;
    justify-content: space-between;
}
.con_zuotian{
	width: 100%;
	height: 0.15rem;
	line-height: 0.15rem;
	font-size: 0.12rem;
	color: #b2b2b2;
	text-align: center;
}
.con_date{
	width: 100%;
	height: 0.15rem;
	line-height: 0.15rem;
	font-size: 0.09rem;
    color: #b9b2c2;
    text-align: center;
}
.con_date span{
	font-size: 0.09rem;
    color: #b9b2c2;
    float: left;
}
.con_date span:first-child{
	margin-left: 0.26rem;
}
.con_yunH{
	width: 100%;
	height: 0.14rem;
	text-align: center;
	font-size: 0.14rem;
	line-height: 0.14rem;
	margin: 0 auto;
	color: #b2b2b2;
}
.con_imgH{
	width: 0.22rem;
	height: 0.22rem;
	background: url('../img/0.png') no-repeat center;
	margin: 0 auto;
	background-size: cover;
}
.con_high{
	text-align: center;
	height: 0.14rem;
	font-size: 0.1rem;
	line-height: 0.14rem;
	color: #b2b2b2;
	text-align: center;

}
.con_low{
	text-align: center;

	height: 0.14rem;
	font-size: 0.14rem;
	line-height: 0.14rem;
	color: #b2b2b2;
	text-align: center;

}
.con_imgL{
	width: 0.22rem;
	height: 0.22rem;
	background: url('../img/0.png') no-repeat center;
	margin: 0 auto;
	background-size: cover;
}
.con_yunL{
	width: 100%;
	height: 0.14rem;
	text-align: center;
	font-size: 0.14rem;
	line-height: 0.14rem;
	margin: 0 auto;
	color: #b2b2b2;
}
.con_feng{
    width: 100%;
    height: 0.12rem;
    text-align: center;
    font-size: 0.12rem;
    line-height: 0.12rem;
    color: #b2b2b2;
}
.con_fengji{
	width: 100%;
    height: 0.11rem;
    text-align: center;
    font-size: 0.11rem;
    line-height: 0.11rem;
    color: #b2b2b2;
}
/*近期情况结束*/

/*生活参数开始*/
.wrap{
	/* width: 100%; */
	height: 3.72rem;
	background: #fff;
	border: 0.01rem solid #e4e4e4;
	box-sizing: border-box;
	margin-top: 0.2rem;
	/*overflow-x: auto;*/
	/* flex-direction: column;
	justify-content: space-between; */
    display: flex;
    /* overflow: hidden; */
}
.wrap::-webkit-scrollbar{
	height: 0;
}
.canshu_box{
	/* width: 100%; */
	height: 3.72rem;
	/* background: blue; */
	/* display: flex; */
	/* overflow-x: auto; */

	/* overflow: hidden; */

}
.canshu_box li{
	width: 25%;
	height: 1.86rem;
    /* flex-shrink: 0;
    flex-wrap: wrap; */
    /* display: block; */
	/* background: green; */
	float: left;
	/* display: flex; */
	border-right: 0.01rem solid #e4e4e4;
	border-bottom: 0.01rem solid #e4e4e4;
	box-sizing: border-box;
}
.canshu_box li:nth-child(4n){
	border-right: none;
}
.canshu_box li:nth-child(8)~li{
	border-bottom: none;
}
.canshu_img{
	width: 0.45rem;
	height: 0.45rem;
	font-size: 0.44rem;
	margin: 0 auto;
	margin-top: 0.35rem;
}
.canshu_img i{
	font-size: 0.44rem;
	
	color: #B7BEE6;	
	float: left;
}
.canshu h1{
	width: 100%;
	height: 0.2rem;
	font-size: 0.26rem;
	text-align: center;
	color: #434343;
	font-weight: normal;

	margin-top: 0.18rem;
	margin-bottom: 0.14rem;
	float: left;
}
.canshu h2{
	width: 100%;
	height: 0.18rem;
	font-size: 0.22rem;
	text-align: center;
	color: #999999;
	font-weight: normal;

	float: left;
}
/*生活参数结束*/

/*底部开始*/
.dibu{
	width:100% ;
	height: 1.02rem;
	padding-top: 0.33rem;
	box-sizing: border-box;
}
.dibu_top{
	width: 100%;
	text-align: center;
	height: 0.27rem;
	color:#b2b2b2 ;
	font-size:0.12rem ;
}
.dibu_top span{
	margin-left: 0.13rem;
	display: block;
	float: left;
} 
.dibu_top span:first-child{
	padding-left: 1.55rem;
	box-sizing: border-box;
	margin-left: 0;
}
.dibu_bottom{
	width: 4rem;
	height: 0.26rem;
	margin: 0 auto;	
	font-size:0.05rem ;
	color: #b8b2c0;
	line-height: 0.26rem;
	text-align: center;
} 
/*底部结束*/

/*城市开始*/
.location{
	display: none;
	width: 100%;
	height: 100%;
	background: #fff;
	position: absolute;
	top: 0;
	left: 0;
	padding-top: 1.85rem;
	box-sizing: border-box;
	/* display: none; */
	overflow-y: auto;
}
.location::-webkit-scrollbar{
	height: 0;
	width: 0;
}
.search{
	width: 100%;
	height: 0.85rem;
	border-bottom: 0.01rem solid #eeeeee;
	padding: 0.14rem 0.4rem;
	position: relative;
    box-sizing: border-box;
    position: fixed;
    top: 1rem;
    left: 0;
    z-index: 999;
    background: #fff;
}
.left_img i{
	width: 0.22rem;
	height: 0.22rem;
	color: #aaaaaa;	
	float: left;
	position: absolute;
	top: 0.3rem;
	left: 0.55rem;
}
input{
	width: 6rem;
	height: 0.6rem;
	line-height: 0.6rem;
	border: none;
	float: right;
    background: #eeeeee;
    padding-left: 0.6rem;
    border-radius: 0.3rem;
    box-sizing: border-box;
    float: left;
}
.search_right{
	font-size: 0.26rem;
	line-height: 0.6rem;
	color: #434343;
	float: right;
}
input:focus{
	outline: none;
}
.remen{
	width: 100%;
	padding: 0 0.25rem;
	box-sizing: border-box;
	margin-top: 0.44rem;
}
.remen_city{
	width: 100%;
	overflow: hidden;
}
.remen_text{
	font-size: 0.26rem;
	color: #434343;
	font-weight: normal;
	line-height: 0.78rem;
}
.remen_text i {
	float: right;
	font-size: 0.36rem;
	line-height: 0.78rem;
	color: #B2B2B2;
}
.city_list{
	width: 100%;
	height: auto;
	overflow: hidden;
}
.city_list li{
	width: 2.2rem;
	font-size:0.24rem ;
	color: #434343;
	text-align: center;

	height: 0.56rem ;
	line-height: 0.56rem;
	background: #f2f2f2;
	border-radius: 0.28rem;
	float: left;
	margin-right: 0.2rem;
	margin-bottom: 0.12rem;
}
.city_list li:nth-child(3n){
	margin-right: 0;
}
 .city1{
	width: 100%;
	height: 0.56rem;
	background: #f2f2f2;
	border-radius: 0.28rem;
	font-size: 0.24rem;
	color: #434343;
	text-align: center;
    line-height: 0.56rem;
} 
 .jingqu{
	width: 100%;
	height: 100%;
	padding: 0.08rem 0 0 0.13rem; 
	box-sizing: border-box; 
	overflow: hidden;
}
.jingqu_list{
	width: 100%;
	height: auto;
	overflow: hidden;
} 
 .jingqu_list li{
	font-size:0.16rem ;
	color: #434343;
	text-align: center;
	width:1.5rem ;
	height:0.32rem ;
	line-height: 0.32rem;
	background: #f2f2f2;
	border-radius: 0.16rem;
	float: left;
	margin-right: 0.09rem;
	margin-bottom: 0.12rem;
} 
 .jingqu_list li:nth-child(3n){
	margin-right: 0;
} 
/*城市结束*/